@page "/addbruger"
@using Client.Services;
@using Common.Model;
@inject HttpClient Http;

<PageTitle>Registrering</PageTitle>

<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Navn">Navn</label>
        <InputText id="Navn" @bind-Value="bruger.Fornavn" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Navn">Efternavn</label>
        <InputText id="Navn" @bind-Value="bruger.Efternavn" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Telefonnummer">Telefonnummer</label>
        <InputNumber id="Telefonnummer" @bind-Value="bruger.Telefonnummer" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Adresse">Adresse</label>
        <InputText id="Adresse" @bind-Value="bruger.Adresse" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value="bruger.Email" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Fødselsdag">Fødselsdag</label>
        <InputDate id="Fødselsdag" @bind-Value="bruger.Fødselsdag" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Password">Password</label>
        <InputText id="Password" @bind-Value="bruger.Password" class="form-control" />
    </div>
    <div class="col-md-1 mb-3">
        <label for="IsKoordinator">Koordinator</label>
        <InputSelect id="IsKoordinator" @bind-Value="bruger.IsKoordinator" class="form-control">
            <option value="true">Ja</option>
            <option value="false">Nej</option>
        </InputSelect>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</EditForm>


@code {

    private Bruger bruger = new Bruger();
    private Bruger[]? brugerlist = new Bruger[0];

    private EditContext aEditContext;

    [Inject]
    private IBrugerService mService { get; set; }

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(bruger);
        bruger.Fødselsdag = DateTime.Now;
    }

    public async Task HandleValidSubmit()
    {
        await Add();
        bruger.Fødselsdag = DateTime.Now;

    }

    public async Task Add()
    {
        await mService.Add(bruger);
        Console.WriteLine("klient: add " + bruger.Fornavn); // Udskriver informationer om den nye booking i konsollen
        bruger = new(); // Opretter et nyt tomt Booking objekt for at rydde formen
    }


}