@page "/addbruger"
@using Client.Services;
@using Common.Model;

@inject HttpClient Http;

<PageTitle>Registrering</PageTitle>

<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Navn">Navn</label>
        <InputText id="Navn" @bind-Value="bruger.Fornavn" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Navn">Navn</label>
        <InputText id="Navn" @bind-Value="bruger.Efternavn" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Telefonnummer">Telefonnummer</label>
        <InputNumber id="Telefonnummer" @bind-Value="bruger.Telefonnummer" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Adresse">Adresse</label>
        <InputText id="Adresse" @bind-Value="bruger.Adresse" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value="bruger.Email" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Fødselsdag">Fødselsdag</label>
        <InputDate id="Fødselsdag" @bind-Value="bruger.Fødselsdag" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Price">Adresse</label>
        <InputText id="Price" @bind-Value="bruger.Password" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Img">Telefonnummer</label>
        <InputCheckbox id="Img" @bind-Value="bruger.IsKoordinator" class="form-control" />
    </div>

</EditForm>


@code {

    [Inject]
    private IBrugerService mService { get; set; }

}