@page "/addFrivillig"
@using Client.Services;
@using Common.Model;

@inject HttpClient Http;

<PageTitle>Add Bike</PageTitle>

<h3>Add Bike</h3>

<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Navn">Navn</label>
        <InputText id="Navn" @bind-Value="frivillig.Navn" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Email">Email</label>
        <InputText id="Email" @bind-Value="frivillig.Email" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Fødselsdagsdato">Fødselsdagsdato</label>
        <InputDate id="Dato" @bind-Value="frivillig.Fødselsdagsdato" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Price">Adresse</label>
        <InputText id="Price" @bind-Value="frivillig.Adresse" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Img">Telefonnummer</label>
        <InputNumber id="Img" @bind-Value="frivillig.Telefonnummer" class="form-control" />
    </div>

</EditForm>


@code {
    private Frivillig frivillig = new Frivillig();

    private EditContext aEditContext;

    [Inject]
    private IFrivilligService mService { get; set; }

    protected override void OnInitialized()
    {
        aEditContext = new EditContext(frivillig);
    }

    public async Task HandleValidSubmit()
    {
        await mService.AddFrivillig(frivillig);

        frivillig = new(); // clear fields in form

    }

}