h1 {
    display: flex;
    justify-content: center;
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}


.btn-login {
    background-color: #04AA6D;
    color: white;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    width: 15%;
    margin-left: 20px;
    margin-top: 15px;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (blue) */
.btn-blue {
    background-color: steelblue;
    color: white;
    padding: 5px 8px;
    margin-left: 20px;
    width: 15%;
}


.regibtn {
    width: auto;
    padding: 10px 18px;
    background-color: mediumpurple;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 610px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.form-group {
    position: relative;
    height: 20px; /* Juster højden efter behov */
    margin-bottom: 5px; /* Juster margenen efter behov */
    margin: 0px 0;
}
.input-container {
    position: relative;
    margin-left: 20px;
}
    .input-container i {
        position: absolute;
        top: 50%;
        right: 35px;
        transform: translateY(-50%);
    }

i.material-icons.hover-effect {
    margin-left: 0px;
}


.hover-effect {
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

    .hover-effect:hover {
        color: green;
        cursor: pointer;
    }

.div-margin {
    margin-bottom: 0px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    padding: 0 10px;
}

.festival {
    height: 200px;
    width: 40%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0;
}

.festival2 {
    height: 200px;
    width: 40%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 0;
}



