/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) */

.btn-blue {
    background-color: steelblue;
    color: white;
}

.regibtn {
    width: auto;
    padding: 10px 18px;
    background-color: mediumpurple;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}



.popup {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 610px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

a:hover {
    text-decoration: underline !important;
}

.form-group {
    position: relative;
}

.input-container {
    position: relative;
}

    .input-container i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

.hover-effect {
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

    .hover-effect:hover {
        color: green; /* Erstat med den ønskede farve */
        cursor: pointer; /* Erstat med den ønskede musemarkør */
    }


}
