@layout LoginLayout
@page "/om"

<h3>Om</h3>
<main>
    <section>
        <h2>Velkommen til RythmRage Festival</h2>
        <p>RythmRage er en årlig musikfestival, der fejrer musikkulturen og samler musikelskere fra hele verden. Festivalen er kendt for sit mangfoldige lineup af både etablerede kunstnere og nye talenter.</p>
        <p>Vi er dedikeret til at levere en fantastisk musikoplevelse og skabe et festligt miljø, hvor folk kan danse, synge med og nyde musikken i fulde drag.</p>
    </section>

    <section>
        <h2>Vores Mission</h2>
        <p>Vores mission er at skabe et unikt og mindeværdigt musikalsk eventyr for vores festivalgæster. Vi stræber efter at præsentere et bredt udvalg af genrer og kunstneriske udtryk for at imødekomme forskellige musiksmag.</p>
        <p>Vi ønsker at skabe et inkluderende og positivt fællesskab, hvor folk kan fordybe sig i musikken og dele uforglemmelige øjeblikke med venner, familie og nye bekendtskaber.</p>
    </section>

    <section>
        <h2>Kontakt Os</h2>
        <p>Hvis du har spørgsmål, kommentarer eller ønsker at samarbejde med os, er du velkommen til at kontakte vores team:</p>
        <ul>
            <li>Email: info@rythmrage.com</li>
            <li>Telefon: +45 12345678</li>
        </ul>
    </section>
</main>
@code {

}
