body {
}

.form-control.locked {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #555;
    pointer-events: none;
}
.form-group.row{
    margin-bottom: 10px !important;
}

.logout-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px; /* Tilføj ønsket margin øverst */
}

