@inherits LayoutComponentBase


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Calendarica</a>
    </div>
</nav>

<div>
    <div class="bodycontainer">
        @Body
    </div>
</div>

@code
{

}