body {
}

.logout-button {
    display: flex;
    justify-content: flex-end;
    margin-top: -5px; /* Tilføj ønsket margin øverst */
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}


    .logout-button:hover {
        background-color: #c82333;
    }

.oi-heart {
    color: darksalmon !important;
}

.oi-person {
    color: #50c878 !important;
}

.oi-clipboard {
    color: #00b7eb !important;
}